In [0]:
%sql
/*
Employee
Department
Customers
Orders
Sales
Products
Returns
*/
CREATE OR REPLACE TABLE Department (
  department_id INT,
  department_name STRING
);

INSERT INTO Department VALUES
(10, 'Engineering'),
(20, 'HR'),
(30, 'Sales'),
(40, 'Finance');

CREATE OR REPLACE TABLE Employee (
  employee_id INT,
  employee_name STRING,
  department_id INT,
  salary INT,
  hire_date DATE
);

INSERT INTO Employee VALUES
(1, 'Alice', 10, 120000, '2023-01-07'),   -- weekend
(2, 'Bob', 10, 90000,  '2022-03-15'),
(3, 'Charlie', 20, 60000, '2023-06-10'),
(4, 'David', NULL, 70000, '2021-08-22'), -- no department
(5, 'Eva', 30, 110000, '2023-12-02'),    -- weekend
(6, 'Frank', 30, 50000, '2020-02-18'),
(7, 'Grace', 40, 150000, '2019-11-01'),
(8, 'Henry', 10, 80000, '2023-04-05');

CREATE OR REPLACE  TABLE Customers (
  customer_id INT,
  customer_name STRING,
  region STRING
);

INSERT INTO Customers VALUES
(101, 'John', 'US'),
(102, 'Mary', 'EU'),
(103, 'Raj', 'APAC'),
(104, 'Chen', 'APAC'),
(105, 'Sara', 'US');

CREATE OR REPLACE  TABLE Orders (
  order_id INT,
  customer_id INT,
  order_date DATE,
  total_amount DECIMAL(10,2),
  region STRING
);

INSERT INTO Orders VALUES
(1, 101, '2023-01-01', 200, 'US'),
(2, 101, '2023-01-02', 300, 'US'),
(3, 101, '2023-02-01', 150, 'US'),
(4, 102, '2023-01-15', 400, 'EU'),
(5, 102, '2023-02-15', 500, 'EU'),
(6, 103, '2023-03-10', 100, 'APAC'),
(7, 103, '2023-03-11', 120, 'APAC'), -- consecutive
(8, 103, '2023-06-01', 700, 'APAC'),
(9, 104, '2022-12-01', 50,  'APAC'),
(10,105, '2023-07-01', 900, 'US'),
(11,105, '2023-08-01', 1000,'US'),
(12,105, '2023-09-01', 1100,'US');

CREATE OR REPLACE  TABLE Products (
  product_id INT,
  product_name STRING,
  price DECIMAL(10,2)
);

INSERT INTO Products VALUES
(1001, 'Laptop', 1000),
(1002, 'Phone', 600),
(1003, 'Tablet', 400),
(1004, 'Monitor', 300); -- never sold

CREATE OR REPLACE  TABLE Sales (
  sale_id INT,
  product_id INT,
  quantity INT,
  price DECIMAL(10,2)
);

INSERT INTO Sales VALUES
(1, 1001, 2, 1000),
(2, 1002, 5, 600),
(3, 1003, 3, 400),
(4, 1001, 1, 1000),
(5, 1002, 2, 600),
(6, 1002, 2, 600); -- duplicate product for aggregation

CREATE OR REPLACE  TABLE Returns (
  return_id INT,
  customer_id INT,
  order_id INT
);

INSERT INTO Returns VALUES
(1, 102, 4),
(2, 103, 6);

CREATE OR REPLACE  TABLE Returns (
  return_id INT,
  customer_id INT,
  order_id INT
);

INSERT INTO Returns VALUES
(1, 102, 4),
(2, 103, 6);

In [0]:
"""
Find duplicate records in a table

Find records having the same values in one or more columns.

2Ô∏è‚É£ Retrieve the second highest salary from the Employee table
3Ô∏è‚É£ Find employees without a department

(Using LEFT JOIN)

4Ô∏è‚É£ Calculate the total revenue per product
5Ô∏è‚É£ Get the top 3 highest-paid employees
6Ô∏è‚É£ Find customers who made purchases but never returned products
7Ô∏è‚É£ Show the count of orders per customer

8Ô∏è‚É£ Retrieve all employees who joined in 2023
9Ô∏è‚É£ Calculate the average order value per customer
üîü Get the latest order placed by each customer
1Ô∏è‚É£1Ô∏è‚É£ Find products that were never sold
1Ô∏è‚É£2Ô∏è‚É£ Identify the most selling product
1Ô∏è‚É£3Ô∏è‚É£ Get the total revenue and number of orders per region
1Ô∏è‚É£4Ô∏è‚É£ Count how many customers placed more than 5 orders
1Ô∏è‚É£5Ô∏è‚É£ Retrieve customers with orders above the average order value
1Ô∏è‚É£6Ô∏è‚É£ Find all employees hired on weekends
1Ô∏è‚É£7Ô∏è‚É£ Find employees whose salary is between 50,000 and 100,000
1Ô∏è‚É£8Ô∏è‚É£ Get monthly sales revenue and order count
1Ô∏è‚É£9Ô∏è‚É£ Rank employees by salary within each department
2Ô∏è‚É£0Ô∏è‚É£ Find customers who placed orders every month in 2023
2Ô∏è‚É£1Ô∏è‚É£ Find the moving average of sales over the last 3 days
2Ô∏è‚É£2Ô∏è‚É£ Identify the first and last order date for each customer
2Ô∏è‚É£3Ô∏è‚É£ Show product sales distribution (percentage of total revenue)
2Ô∏è‚É£4Ô∏è‚É£ Retrieve customers who made consecutive purchases (2 days)
2Ô∏è‚É£5Ô∏è‚É£ Find churned customers

(Customers with no orders in the last 6 months)

2Ô∏è‚É£6Ô∏è‚É£ Calculate cumulative revenue by day
2Ô∏è‚É£7Ô∏è‚É£ Identify top-performing departments by average salary
2Ô∏è‚É£8Ô∏è‚É£ Find customers who ordered more than the average number of orders per customer
2Ô∏è‚É£9Ô∏è‚É£ Calculate revenue generated from new customers

(First-time orders only)

3Ô∏è‚É£0Ô∏è‚É£ Find the percentage of employees in each department
3Ô∏è‚É£1Ô∏è‚É£ Retrieve the maximum salary difference within each department
3Ô∏è‚É£2Ô∏è‚É£ Find products contributing to 80% of revenue

(Pareto Principle)

3Ô∏è‚É£3Ô∏è‚É£ Calculate average time between two purchases for each customer
3Ô∏è‚É£4Ô∏è‚É£ Show last purchase for each customer along with order amount
3Ô∏è‚É£5Ô∏è‚É£ Calculate year-over-year (YoY) revenue growth
3Ô∏è‚É£6Ô∏è‚É£ Detect customers whose purchase amount is higher than their historical 90th percentile
3Ô∏è‚É£7Ô∏è‚É£ Retrieve the longest gap between orders for each customer
3Ô∏è‚É£8Ô∏è‚É£ Identify customers with revenue below the 10th percentile
"""
print(2)