In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [2]:
spark = SparkSession.builder.appName("epam").getOrCreate()

#### q-1 Pyspark:
You've been given some CSV files like karnataka.csv and maharashtra.csv in an ADLS location, <br>
each containing columns for first_name, last_name, age, sex, and location. <br>
Your task is to add a new column called state to each DataFrame. The state column should contain the state name extracted from the filename. <br>
For example:
For karnataka.csv, the state column should contain the value 'karnataka'. <br>
For maharashtra.csv, the state column should contain the value 'maharashtra'. <br>
Your solution should utilize PySpark to efficiently handle large-scale data processing tasks.

In [18]:
filepath = '../../data/open_forum/epam/'
# karnataka
def get_read_data(spark,filename):
    path = f"{filepath}{filename}.csv"
    options = {'header':True,'inferSchema':True,'path' : path}
    dataframe = spark.read.format('csv').options(**options).load()
    return dataframe

In [19]:
karnatak_df = get_read_data(spark,'karnataka')

In [20]:
maharashtra_df = get_read_data(spark,"maharashtra")

In [21]:
karnatak_df.show()

+----------+---------+---+------+--------+
|first_name|last_name|age|   sex|location|
+----------+---------+---+------+--------+
|    taukir|     khan| 30|  male|   india|
|   tauovir|     khan| 31|  male|  canada|
|    zeenat|   fatima| 30|frmale|  canada|
+----------+---------+---+------+--------+

In [23]:
maharashtra_df.show()

+----------+---------+---+------+--------+
|first_name|last_name|age|   sex|location|
+----------+---------+---+------+--------+
|     rahul|    kumar| 30|  male|   india|
|      ashi|   chuhan| 31|female|   india|
|     rohit|    gupta| 36|  male|  canada|
+----------+---------+---+------+--------+

In [30]:
@F.udf
def get_filename(filename):
    return filename.split('.')[0]

maharashtra_df.withColumn("state", get_filename(F.col("_metadata.file_name"))).show(truncate = False)

+----------+---------+---+------+--------+-----------+
|first_name|last_name|age|sex   |location|state      |
+----------+---------+---+------+--------+-----------+
|rahul     |kumar    |30 |male  |india   |maharashtra|
|ashi      |chuhan   |31 |female|india   |maharashtra|
|rohit     |gupta    |36 |male  |canada  |maharashtra|
+----------+---------+---+------+--------+-----------+

In [31]:

karnatak_df.withColumn("state", get_filename(F.col("_metadata.file_name"))).show(truncate = False)

+----------+---------+---+------+--------+---------+
|first_name|last_name|age|sex   |location|state    |
+----------+---------+---+------+--------+---------+
|taukir    |khan     |30 |male  |india   |karnataka|
|tauovir   |khan     |31 |male  |canada  |karnataka|
|zeenat    |fatima   |30 |frmale|canada  |karnataka|
+----------+---------+---+------+--------+---------+

## Python/ DSA:

### A. Reverse a string without using reverse function

In [36]:
name = "taukir khan"
name[::-1]

'nahk rikuat'

#### B. Write a python program to implement following. Given a pattern and a string. If string matches the pattern return true else return false
**Example**:
Pattern – “abba”, String – “dog cat cat dog” will return true. <br>
Pattern – “aba”, String – “dog dog cat” will return false.

In [43]:
def word_pattern(pattern, s):
    words = s.split()
    if len(pattern) != len(words):
        return False
    
    pattern_map = {}
    
    for char, word in zip(pattern, words):
        if char not in pattern_map:
            pattern_map[char] = word
        elif pattern_map[char] != word:
            return False
            
    
    return True

# Example usage
pattern1 = "abba"
s1 = "dog cat cat dog"
print(word_pattern(pattern1, s1))  # Output: True

pattern2 = "aba"
s2 = "dog dog cat"
print(word_pattern(pattern2, s2))  # Output: False

True
False

Find the 3-month rolling average of total revenue from purchases given a table with users, their purchase amount, and date purchased (YYYY-MM-DD). Output the year-month (YYYY-MM) and 3-month rolling average of revenue, sorted from earliest month to latest month.