In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql import Window as WN

In [2]:
spark = SparkSession.builder.master("local[2]").appName("Spark-Query").getOrCreate()

In [14]:
file_path ="E:\\workforce\\spark\\data\\emp_json.json"
# dataframe = spark.read.load(file_path, format='json',multiLine=True,schema=None)
dataframe = spark.read.format("json").option("path",file_path).option("multiLine",True).option("schema",None).load()

In [9]:
dataframe.show(truncate = False)

+-------------------+------+----------------------+------+------+
|address            |fname |languages             |lname |salary|
+-------------------+------+----------------------+------+------+
|[{India}, {Canada}]|Taukir|[english, hindi, urdu]|khan  |30    |
|[{India}, {Canada}]|Zeenat|[english, urdu]       |khan  |50    |
|[{germany}]        |Banana|[tamil, english]      |haider|25    |
+-------------------+------+----------------------+------+------+

In [20]:
dataframe.select(col("fname"),col("address")[0].getItem('country')).show()

+------+------------------+
| fname|address[0].country|
+------+------------------+
|Taukir|             India|
|Zeenat|             India|
|Banana|           germany|
+------+------------------+

In [23]:
dataframe.select(col("fname"),col("languages")[2]).show()

+------+------------+
| fname|languages[2]|
+------+------------+
|Taukir|        urdu|
|Zeenat|        NULL|
|Banana|        NULL|
+------+------------+

In [26]:
dataframe.select(concat(col("fname"),col("lname")).alias("name")).\
filter(col("address")[0].getItem('country') == 'India').show()

+----------+
|      name|
+----------+
|Taukirkhan|
|Zeenatkhan|
+----------+

In [ ]:
# dataframe.select(dataframe.fname).show()
# dataframe.select(dataframe.address[0].country).show()