In [66]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql import Window as W
from pyspark.sql.types import *

In [67]:
spark = SparkSession.builder.master("local[2]").appName("DataSet").getOrCreate()

In [68]:
data = [('2', '2', '95') ,
('2', '3', '95'),
('1', '1', '90'),
('1', '2', '99'),
('3', '1', '80'),
('3', '2', '75'),
('3', '3', '82')]
schema = ["student_id","course_id","grade"]

In [88]:
data1= [(1,"manish","data engineer"),(2,"rani","data analyst"),(3,"manju","data science")]
column1 =["id","name","department"]

data2= [(3,"harish"),(4,"monish"),(5,"priti")]
column2 =["id","name"]
dataframe1 = spark.createDataFrame(data = data1,schema =column1 )
dataframe2 = spark.createDataFrame(data = data2,schema =column2 )

In [89]:
dataframe1.show()

+---+------+-------------+
| id|  name|   department|
+---+------+-------------+
|  1|manish|data engineer|
|  2|  rani| data analyst|
|  3| manju| data science|
+---+------+-------------+

In [90]:
dataframe2.show()

+---+------+
| id|  name|
+---+------+
|  3|harish|
|  4|monish|
|  5| priti|
+---+------+

In [93]:
dataframe1.select('id','name','department').union(dataframe2.select('id','name',lit('NA').alias('department'))).show()

+---+------+-------------+
| id|  name|   department|
+---+------+-------------+
|  1|manish|data engineer|
|  2|  rani| data analyst|
|  3| manju| data science|
|  3|harish|           NA|
|  4|monish|           NA|
|  5| priti|           NA|
+---+------+-------------+

In [94]:
dataframe1.createOrReplaceTempView('tbl')

In [124]:
d = [{'name':"khan","id":"mango,banana,orange"}]
df1 = spark.createDataFrame(data = d )
df1.show()

+-------------------+----+
|                 id|name|
+-------------------+----+
|mango,banana,orange|khan|
+-------------------+----+

In [120]:
df1.withColumn("id",.split("id",",")).show()

+-------------------+----+--------------------+
|                 id|name|                 id2|
+-------------------+----+--------------------+
|mango,banana,orange|khan|[mango, banana, o...|
+-------------------+----+--------------------+

In [127]:
df1.select('name',explode(split("id",",")).alias('mmm')).show()

+----+------+
|name|   mmm|
+----+------+
|khan| mango|
|khan|banana|
|khan|orange|
+----+------+