**01: extract value between from the given string**<br>
datatype_string = "number(12, 8)"<br>

In [11]:
def get_value(datatype_string):
    split_str = eval(datatype_string.split("number")[-1])
    return split_str
    
get_value(datatype_string = "number(12, 8)")

(12, 8)

**02: What will be the output of from below code**

In [12]:
def output_02():
    a = 0
    for b in range(0,10,2):
        a += b+1
    return a

output_02()

25

**03:Combine the list l1 and l2,  and find the element in reverse order**<br>
**Output:** ['blue', 'green', 'red', 'banna', 'orange', 'mango']

In [16]:
def combined_ele_reverse():
    """
    Combine the list l1 and l2,  and find the element in reverse order
    Output: ['blue', 'green', 'red', 'banna', 'orange', 'mango']
    """
    l1 = ['mango', 'orange', 'banana']
    l2 = ['red', 'green', 'blue']
    res = l1 + l2
    return res[::-1]

**04: what will be tha output**<br>

In [19]:
l1 = [1,2,3,4]
l1.append([10,20])
l1

[1, 2, 3, 4, [10, 20]]

**05: put all zero at end of the list**

In [26]:
def arrange_zero():
    l1 = [1,0,2,3,0,5,0,4]
    output = [1,2,3,5,4,0,0,0]
    for ele in l1:
        if ele ==0:
            l1.remove(ele)
            l1.append(ele)
    print(l1)
            
            
arrange_zero()

[1, 2, 3, 5, 4, 0, 0, 0]