In [1]:
data = [
    {"fname": "Rahul", "lname": "Kumar", "gender": "M", "salary": 10000, "bonus": 1000, "deduction": 500},
    {"fname": "Taukir", "lname": "Khan", "gender": "M", "salary": 12000, "bonus": 2000},
    {"fname": "Pooja", "lname": "Sharma", "gender": "F", "salary": 15000, "bonus": 3000, "deduction": 2000}
]

In [24]:
import numpy as np
class Matrix:

    def __init__(self):
        self.mat = [
            [1, 2, 3],
            [4, 5, 6],
            [7, 8, 9]
        ]

    def flatten(self):
        # output: [1, 2, 3, 4, 5, 6, 7, 8, 9]
        resp = [ele for row in self.mat for ele in row]
        return resp

    def row_addtion(self):
        # list comprehension
        # output:[6, 15, 24]
        resp = [sum(row) for row in self.mat]
        return resp

    def col_addtion(self):
        # output: [12, 15, 18]
        new_mat = []
        col_length =  len(self.mat[0])
        row_length = len(self.mat)
        for row_ind in range(row_length):
            temp = []
            for col_ind in range(col_length):
                temp.append(self.mat[col_ind][row_ind])
            new_mat.append(temp)
        resp = [sum(row) for row in new_mat]
        return resp


    def row_reverse(self):
        # Result: [[3, 2, 1], [6, 5, 4], [9, 8, 7]]
        resp = [row[::-1] for row in self.mat]
        return resp

[12, 15, 18]

In [42]:
data = [
            {"id": "101", "name": "Mohit Kumar", "city": "Delhi", "country": "India"},
            {"id": "101", "name": "Mohit Kumar", "city": "Mumbai", "country": "India"},
            {"id": "103", "name": "Rahul Sharma", "city": "Pune", "country": "India"}
        ]

def data_format():
    """
    Format list of dictionary od data into below format
    output: {"101": {"first_name": "MOHIT", "last_name": "KUMAR", "address": [{"city": "Delhi", "country": "India"}]}, "103": {"first_name": "RAHUL", "last_name": "SHARMA", "address": [{"city": "Pune", "country": "India"}, {"city": "Pune", "country": "India"}]}}
    """
    records = {}
    for row in data:
        if row['id'] in records:
            row_dict = records[row['id']]
            address  = [{"city" :row['city'],"country" :row['country']}]
            row_dict['address'].append(address)
            
        else:
            temp_dict = {
                "first_name" : row['name'].split(' ')[0].upper(),
                "last_name" : row['name'].split(' ')[-1].upper(),
                "address" : [{"city" :row['city'],"country" :row['country']}]
            }
            
        records[row['id']] = temp_dict
    return records
    
res  = data_format()
res['101']

{'first_name': 'MOHIT',
 'last_name': 'KUMAR',
 'address': [{'city': 'Delhi', 'country': 'India'},
  [{'city': 'Mumbai', 'country': 'India'}]]}