In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions

In [2]:
#StudentData
spark = SparkSession.builder.master("local[2]").appName("StudentSet").getOrCreate()

In [3]:
filepath = "../../data/StudentData.csv"
dataframe = spark.read.format('csv').options(header = True,inferSchema = True,path = filepath).load()

## Create New Column total_marks : 150

In [6]:
dataframe = dataframe.withColumn("total_marks",functions.lit(150))

In [15]:
dataframe.show(2)

+---+------+----------------+------+-----+-----+--------------------+-----------+------------------+
|age|gender|            name|course| roll|marks|               email|total_marks|           average|
+---+------+----------------+------+-----+-----+--------------------+-----------+------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|        150| 39.33333333333333|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|        150|41.333333333333336|
+---+------+----------------+------+-----+-----+--------------------+-----------+------------------+
only showing top 2 rows

## Create New average: marks/total_marks * 100

In [12]:
dataframe = dataframe.withColumn("average",(functions.col('marks')/functions.col('total_marks') * 100))
dataframe.show(2)

+---+------+----------------+------+-----+-----+--------------------+-----------+------------------+
|age|gender|            name|course| roll|marks|               email|total_marks|           average|
+---+------+----------------+------+-----+-----+--------------------+-----------+------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|        150| 39.33333333333333|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|        150|41.333333333333336|
+---+------+----------------+------+-----+-----+--------------------+-----------+------------------+
only showing top 2 rows

## Filterout all all student who achieved more than 80% marks in OOP and save it to new DF

In [20]:
df2 = dataframe.filter((dataframe.course =='OOP') & (dataframe.average > 80))
df2.show(2)

+---+------+----+------+----+-----+-----+-----------+-------+
|age|gender|name|course|roll|marks|email|total_marks|average|
+---+------+----+------+----+-----+-----+-----------+-------+
+---+------+----+------+----+-----+-----+-----------+-------+