In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions
from pyspark.sql.types import IntegerType

In [2]:
spark = SparkSession.builder.master("local[2]").appName("DataSet").getOrCreate()

In [4]:
filepath = "../../data/users_data.csv"
dataframe = spark.read.format("csv").options(path=filepath,header=True,inferSchema = True,delimiter = ",").load()

In [6]:
dataframe.show()

+---+---------+----------+------+-----+---------------+------------+------------+-------+---------------+
| id|user_name|    mobile|salary|bonus|user_created_at|        addr|        city|country|address_created|
+---+---------+----------+------+-----+---------------+------------+------------+-------+---------------+
|  1|   taukir|8010339935| 50000|10000|     17-11-2023|    Richmond|         B.C| Canada|     17-11-2023|
|  1|   taukir|8010339935| 50000|12000|     17-11-2023|natesh puram|      Meerut|  India|     17-11-2023|
|  2|     khan|8010223369| 40000|15000|     17-11-2023|Khhan Market|       Delhi|  India|     17-11-2023|
|  3|      Sab|  96301452| 35000|10000|     17-11-2023|Sadar Market|      Kanpur|  India|     17-11-2023|
|  4|      sam| 963201458| 25061|12000|     17-11-2023|   Street 16|Los angeles |     US|     17-11-2023|
|  5|   zeenat|   1560489| 46000| 5000|     17-11-2023|    Richmond|         B.C| Canada|     17-11-2023|
|  5|   zeenat|   1560489| 46000| 7000|     17-11-2023|     Jaunpur|Jaunpur city|  India|     17-11-2023|
+---+---------+----------+------+-----+---------------+------------+------------+-------+---------------+

In [7]:
dataframe.createOrReplaceTempView("user_data")

In [10]:
spark.sql("select user_name,(salary + bonus) as salary from user_data ").show()

+---------+------+
|user_name|salary|
+---------+------+
|   taukir| 60000|
|   taukir| 62000|
|     khan| 55000|
|      Sab| 45000|
|      sam| 37061|
|   zeenat| 51000|
|   zeenat| 53000|
+---------+------+