In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import Window as W

In [26]:
from pyspark.sql.types import DateType,StringType

In [2]:
spark = SparkSession.builder.appName("Luxsoft").getOrCreate()

### SQL

**Q1. What would be the answer of below query **

In [3]:
## Q1. What would be the answer of below query
sql = """
select 10
union select 10
union select 20
union  select 20
union all select 10
"""
spark.sql(sql).show()

+---+
| 10|
+---+
| 10|
| 20|
| 10|
+---+

In [4]:
data = [(10,'abc'),(20,'abc'),(None,'abc')]
schema = "id int, cd string"
df = spark.createDataFrame(data = data, schema = schema)
df.show()

+----+---+
|  id| cd|
+----+---+
|  10|abc|
|  20|abc|
|NULL|abc|
+----+---+

**Q3. What would be the output of below query **

In [5]:
df.createOrReplaceTempView('T1')
sql = """
select id, cd  from T1 where ID = Null;
"""
spark.sql(sql).show()

##You cannot use = NULL or <> NULL because NULL is not equal or unequal to anything. NULL means unknown.
## So use IS NULL or IS NOT NULL:

+---+---+
| id| cd|
+---+---+
+---+---+

In [6]:
df.filter(F.col('id').isNull()).show()
# df.filter("id is null").show()

+----+---+
|  id| cd|
+----+---+
|NULL|abc|
+----+---+

In [7]:
sql = """
select id, cd  from T1 where ID is null;
"""
spark.sql(sql).show()

+----+---+
|  id| cd|
+----+---+
|NULL|abc|
+----+---+

In [8]:
# df.filter(df.id.isNotNull()).show()
df.filter(df.id.isNull()).show()

+----+---+
|  id| cd|
+----+---+
|NULL|abc|
+----+---+

**Q4. What would be the output of below query **

In [9]:
sql = """
SELECT count(*),count(ID),count(cd),count(distinct cd),sum(ID) from T1
"""
spark.sql(sql).show()

+--------+---------+---------+------------------+-------+
|count(1)|count(ID)|count(cd)|count(DISTINCT cd)|sum(ID)|
+--------+---------+---------+------------------+-------+
|       3|        2|        3|                 1|     30|
+--------+---------+---------+------------------+-------+

In [10]:
df.agg(F.count('*').alias('cnt'),
       F.count('id').alias('id_cnt'),
        F.count('id').alias('id_cnt'),
        F.countDistinct('cd').alias('dcd_cnt'),
        F.sum('id').alias('sum_cnt'),
      
      ).show()

+---+------+------+-------+-------+
|cnt|id_cnt|id_cnt|dcd_cnt|sum_cnt|
+---+------+------+-------+-------+
|  3|     2|     2|      1|     30|
+---+------+------+-------+-------+

**Q5. What would be the output of below query **

In [11]:
SQL = """
SELECT count(id) from T1
group by cd having count(id) = 1
"""
spark.sql(SQL).show()

+---------+
|count(id)|
+---------+
+---------+

In [12]:
df.groupBy("cd").agg(F.count('id').alias("cnt_id")).filter(F.col('cnt_id') == 1).show()

+---+------+
| cd|cnt_id|
+---+------+
+---+------+

In [13]:
dataset = [(10,'mango','2024-01-01',100),
(10,'orange','2024-01-02',120),
(11,'jeans','2024-01-03',200),
(11,'jeans','2024-01-03',250),
(11,'T-shirt','2024-01-04',200),
(12,'Banana','2024-01-04',50)]
data_schema = "id int, notes string,sales_date string,amount int"
dataframe = spark.createDataFrame(data = dataset, schema = data_schema)
dataframe.printSchema()

root
 |-- id: integer (nullable = true)
 |-- notes: string (nullable = true)
 |-- sales_date: string (nullable = true)
 |-- amount: integer (nullable = true)

In [14]:
# Convert sales_date data types
from pyspark.sql.types import DateType
dataframe2 = dataframe.withColumn("sales_date",dataframe['sales_date'].cast(DateType()))
# dataframe3 = dataframe.withColumn("sales_date",F.to_date('sales_date','yyyy-mm-dd'))
dataframe2.printSchema()
dataframe2.show()

root
 |-- id: integer (nullable = true)
 |-- notes: string (nullable = true)
 |-- sales_date: date (nullable = true)
 |-- amount: integer (nullable = true)

+---+-------+----------+------+
| id|  notes|sales_date|amount|
+---+-------+----------+------+
| 10|  mango|2024-01-01|   100|
| 10| orange|2024-01-02|   120|
| 11|  jeans|2024-01-03|   200|
| 11|  jeans|2024-01-03|   250|
| 11|T-shirt|2024-01-04|   200|
| 12| Banana|2024-01-04|    50|
+---+-------+----------+------+

**Q6--- fetch the max sale amount for each date ID wise, also get sum of sales amount id wise ---**

In [15]:
# IN window function sum,if we do not use orer by then it will summ all,if order there then commulative sum perfomed

dataframe2.createOrReplaceTempView('sales')
sql = """
WITH data_query as 
(
SELECT id,notes,sales_date,amount,
DENSE_RANK() OVER (PARTITION BY id,sales_date order by amount desc) as rnk,
sum(amount) OVER (PARTITION BY id order by amount asc) as commulative_sum
from sales
)
select id,notes,sales_date,amount,commulative_sum from data_query
where rnk = 1

"""
spark.sql(sql).show()

+---+-------+----------+------+---------------+
| id|  notes|sales_date|amount|commulative_sum|
+---+-------+----------+------+---------------+
| 10|  mango|2024-01-01|   100|            100|
| 10| orange|2024-01-02|   120|            220|
| 11|  jeans|2024-01-03|   250|            650|
| 11|T-shirt|2024-01-04|   200|            400|
| 12| Banana|2024-01-04|    50|             50|
+---+-------+----------+------+---------------+

**Q:7:Produce Below output **
```
id		note
10	"mango,orange"
11	"jeans,T-shirt"
12	"Banana"
```

In [16]:
postgres_sql = """
SELECT id,STRING_AGG(DISTINCT notes,',') as note from sales group by id
"""
snow_sql = "SELECT id,listagg(DISTINCT notes,',') as note from sales group by id"
# spark.sql(postgres_sql).show()

In [24]:
dataframe2.groupBy('id').agg(F.collect_set('notes').alias('note')).\
withColumn('note',F.concat_ws(',',F.col('note'))).show()

+---+-------------+
| id|         note|
+---+-------------+
| 10| mango,orange|
| 11|jeans,T-shirt|
| 12|       Banana|
+---+-------------+

In [28]:
@F.udf(StringType())
def concate_str(arr):
    return ','.join(arr)

dataframe2.groupBy('id').agg(F.collect_set('notes').alias('note')).withColumn('note',concate_str(F.col('note'))).show()

+---+-------------+
| id|         note|
+---+-------------+
| 10| mango,orange|
| 11|jeans,T-shirt|
| 12|       Banana|
+---+-------------+

### Using Data Frame
#### Method-1

In [17]:
dataframe2.select("id","notes","sales_date","amount").\
withColumn("DenseRank",F.dense_rank().over(W.partitionBy("id").orderBy(F.col("amount").desc()))).\
withColumn("Sum",F.sum('amount').over(W.partitionBy("id").orderBy(F.col("amount").asc()))).\
filter(F.col("DenseRank") ==1).show()

+---+------+----------+------+---------+---+
| id| notes|sales_date|amount|DenseRank|Sum|
+---+------+----------+------+---------+---+
| 10|orange|2024-01-02|   120|        1|220|
| 11| jeans|2024-01-03|   250|        1|650|
| 12|Banana|2024-01-04|    50|        1| 50|
+---+------+----------+------+---------+---+

#### Method-2

In [18]:
agg_data = dataframe2.select("id","notes","sales_date","amount").groupBy("id").agg(
    F.sum("amount").alias("sum_amount"),
    F.max("amount").alias("max_amont"),
)
dataframe2.join(agg_data,(dataframe2.id == agg_data.id) & (dataframe2.amount == agg_data.max_amont),
                how="inner" ).show()

+---+------+----------+------+---+----------+---------+
| id| notes|sales_date|amount| id|sum_amount|max_amont|
+---+------+----------+------+---+----------+---------+
| 10|orange|2024-01-02|   120| 10|       220|      120|
| 11| jeans|2024-01-03|   250| 11|       650|      250|
| 12|Banana|2024-01-04|    50| 12|        50|       50|
+---+------+----------+------+---+----------+---------+

### Collect List

In [19]:
dataframe2.groupBy('id').agg(F.collect_list("notes").alias("notes")).withColumn("_str",F.concat_ws(",", F.col("notes"))).show()

+---+--------------------+-------------------+
| id|               notes|               _str|
+---+--------------------+-------------------+
| 10|     [mango, orange]|       mango,orange|
| 11|[jeans, jeans, T-...|jeans,jeans,T-shirt|
| 12|            [Banana]|             Banana|
+---+--------------------+-------------------+

**Q:8 => Number of records with Right join, full outer join between two table **<br>
**See reference for similar question**:<br>
https://github.com/tauovir/pyspark/blob/master/src_notebok/vpropel/spark/Spark_Joins.ipynb

### Python

In [20]:
#1: which is fast dictionary or tuple in term of data access
#2: threading vs multi-processing
#3: What would be output for l1,l2
#4: how do you get next value from l2
#
l1 = [ele for ele in range(1,5)]
l1

[1, 2, 3, 4]

In [21]:
l2 = (ele for ele in range(1,5))
l2

In [22]:
l2.__next__()

1

### Pyspark

In [23]:
# Every day you are getting large amount data file but it could have 5-10% new or updated data, how acces those data only