**The below question were asked during the interview**

### Python Problem2

In [1]:

# Problem-1
data_dict = [
{ "x": "y"},
{ "1": "2"},
{ "t": "y"}
]

# Output: {"x": "y", "1": "2", "t": "y"}

def reformat(data_dict):
    response = {}
    for row in data_dict:
        for key,val in row.items():
            response[key] = val
    return response
print(reformat(data_dict))

{'x': 'y', '1': '2', 't': 'y'}

### Python Problem2

In [3]:
x = [ 'a', 'b', 'c' ] 
y = [ 'a', 'b' ]
# how to get x - y operation
res1 = [ele for ele in x if ele not in y]
print(res1)
res2 = set(x) - set(y)
print(res2)

['c']
{'c'}

### Pyspark Problem

In [82]:
#Pyspark:
from pyspark.sql import SparkSession
from pyspark.sql import functions as FS
from pyspark.sql import Window as WN

In [6]:
dataset = [
    {"id":"abc","amount":10},
    {"id":"def","amount":20}
]
spark = SparkSession.builder.master("local[2]").appName("US_Client").getOrCreate()

In [1]:
sql = """
select 10
union select 10
"""
spark.sql(sql).show()

NameError: name 'spark' is not defined