In [1]:

from pyspark.sql import *
from pyspark.sql.types import *

In [9]:
## Create Spark Session

In [2]:
spark = SparkSession.builder.master("local[2]").appName("DataFrame-Session").getOrCreate()

In [16]:
# Below method are generic method

In [3]:
filepath = "../data/Fire_Department_Calls_for_Service.csv"

In [4]:
dataframe = spark.read. \
        option("header", "true"). \
        option("inferSchema", "true").csv(filepath)

In [7]:
dataframe.printSchema(2)

root
 |-- Call Number: integer (nullable = true)
 |-- Unit ID: string (nullable = true)
 |-- Incident Number: integer (nullable = true)
 |-- Call Type: string (nullable = true)
 |-- Call Date: string (nullable = true)
 |-- Watch Date: string (nullable = true)
 |-- Received DtTm: string (nullable = true)
 |-- Entry DtTm: string (nullable = true)
 |-- Dispatch DtTm: string (nullable = true)
 |-- Response DtTm: string (nullable = true)
 |-- On Scene DtTm: string (nullable = true)
 |-- Transport DtTm: string (nullable = true)
 |-- Hospital DtTm: string (nullable = true)
 |-- Call Final Disposition: string (nullable = true)
 |-- Available DtTm: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode of Incident: integer (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- Station Area: string (nullable = true)
 |-- Box: string (nullable = true)
 |-- Original Priority: string (nullable = true)
 |-- Priority: string (nullable = true)
 |-- Final Priority: integer (nullable = true)
 |-- ALS Unit: boolean (nullable = true)
 |-- Call Type Group: string (nullable = true)
 |-- Number of Alarms: integer (nullable = true)
 |-- Unit Type: string (nullable = true)
 |-- Unit sequence in call dispatch: integer (nullable = true)
 |-- Fire Prevention District: string (nullable = true)
 |-- Supervisor District: string (nullable = true)
 |-- Neighborhooods - Analysis Boundaries: string (nullable = true)
 |-- RowID: string (nullable = true)
 |-- case_location: string (nullable = true)
 |-- Analysis Neighborhoods: integer (nullable = true)

In [8]:
pandas_df = dataframe.limit(10).toPandas()

In [9]:
pandas_df.head(2)

,Call Number,Unit ID,Incident Number,Call Type,Call Date,Watch Date,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,...,Call Type Group,Number of Alarms,Unit Type,Unit sequence in call dispatch,Fire Prevention District,Supervisor District,Neighborhooods - Analysis Boundaries,RowID,case_location,Analysis Neighborhoods
0,221210313,E36,22054955,Outside Fire,05/01/2022,04/30/2022,05/01/2022 02:58:25 AM,05/01/2022 02:59:15 AM,05/01/2022 02:59:25 AM,05/01/2022 03:01:06 AM,...,Fire,1,ENGINE,1,2,5,Hayes Valley,221210313-E36,POINT (-122.42316555403964 37.77781524520032),9
1,220190150,E29,22008871,Alarms,01/19/2022,01/18/2022,01/19/2022 01:42:12 AM,01/19/2022 01:44:13 AM,01/19/2022 01:44:28 AM,01/19/2022 01:46:47 AM,...,Alarm,1,ENGINE,1,3,10,Potrero Hill,220190150-E29,POINT (-122.39469970274361 37.76460987856451),26

## Rename the column
We can create chain of transformaation one after,
Spark transformation return new dataframe after transformation
Spark dataframe is immutable

In [10]:
dataframe = dataframe.withColumnRenamed("Call Number","CallNumber").\
withColumnRenamed("Unit ID","UnitID").withColumnRenamed("Incident Number","IncidentNumber").\
withColumnRenamed("Call Type","CallType").withColumnRenamed("Call Date","CallDate").\
withColumnRenamed("Watch Date","WatchDate").withColumnRenamed("Received DtTm","ReceivedDtTm").\
withColumnRenamed("Entry DtTm","EntryDtTm").withColumnRenamed("Dispatch DtTm","DispatchDtTm").\
withColumnRenamed("Response DtTm","ResponseDtTm").withColumnRenamed("On Scene DtTm","OnSceneDtTm").\
withColumnRenamed("Transport DtTm","TransportDtTm").withColumnRenamed("Hospital DtTm","HospitalDtTm").\
withColumnRenamed("CallFinalDisposition","CallFinalDisposition").withColumnRenamed("Available DtTm","AvailableDtTm").\
withColumnRenamed("Original Priority","OriginalPriority").withColumnRenamed("Final Priority","FinalPriority").\
withColumnRenamed("ALS Unit","ALSUnit").withColumnRenamed("Call Type Group","CallTypeGroup").\
withColumnRenamed("Number of Alarms","NumberofAlarms").withColumnRenamed("Unit Type","UnitType").\
withColumnRenamed("Unit sequence in call dispatch","UnitSequenceInCallDispatch").\
withColumnRenamed("Fire Prevention Distric","FirePreventionDistric").\
withColumnRenamed("Supervisor District","SupervisorDistrict").\
withColumnRenamed("Supervisor District","SupervisorDistrict")

In [11]:
pandas_df = dataframe.limit(10).toPandas()
pandas_df.head(2)

,CallNumber,UnitID,IncidentNumber,CallType,CallDate,WatchDate,ReceivedDtTm,EntryDtTm,DispatchDtTm,ResponseDtTm,...,CallTypeGroup,NumberofAlarms,UnitType,UnitSequenceInCallDispatch,Fire Prevention District,SupervisorDistrict,Neighborhooods - Analysis Boundaries,RowID,case_location,Analysis Neighborhoods
0,221210313,E36,22054955,Outside Fire,05/01/2022,04/30/2022,05/01/2022 02:58:25 AM,05/01/2022 02:59:15 AM,05/01/2022 02:59:25 AM,05/01/2022 03:01:06 AM,...,Fire,1,ENGINE,1,2,5,Hayes Valley,221210313-E36,POINT (-122.42316555403964 37.77781524520032),9
1,220190150,E29,22008871,Alarms,01/19/2022,01/18/2022,01/19/2022 01:42:12 AM,01/19/2022 01:44:13 AM,01/19/2022 01:44:28 AM,01/19/2022 01:46:47 AM,...,Alarm,1,ENGINE,1,3,10,Potrero Hill,220190150-E29,POINT (-122.39469970274361 37.76460987856451),26

In [12]:
from pyspark.sql.functions import *

In [ ]:
## Convert Data

In [13]:
transformed_df = dataframe.withColumn("CallDate",to_date("CallDate","MM/dd/yyyy")).\
withColumn("WatchDate",to_date("WatchDate","MM/dd/yyyy")).\
withColumn("AvailableDtTm",to_timestamp("AvailableDtTm","MM/dd/yyyy hh:mm:ss a"))

In [19]:
transformed_df.printSchema()

root
 |-- CallNumber: integer (nullable = true)
 |-- UnitID: string (nullable = true)
 |-- IncidentNumber: integer (nullable = true)
 |-- CallType: string (nullable = true)
 |-- CallDate: date (nullable = true)
 |-- WatchDate: date (nullable = true)
 |-- ReceivedDtTm: string (nullable = true)
 |-- EntryDtTm: string (nullable = true)
 |-- DispatchDtTm: string (nullable = true)
 |-- ResponseDtTm: string (nullable = true)
 |-- OnSceneDtTm: string (nullable = true)
 |-- TransportDtTm: string (nullable = true)
 |-- HospitalDtTm: string (nullable = true)
 |-- Call Final Disposition: string (nullable = true)
 |-- AvailableDtTm: timestamp (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode of Incident: integer (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- Station Area: string (nullable = true)
 |-- Box: string (nullable = true)
 |-- OriginalPriority: string (nullable = true)
 |-- Priority: string (nullable = true)
 |-- FinalPriority: integer (nullable = true)
 |-- ALSUnit: boolean (nullable = true)
 |-- CallTypeGroup: string (nullable = true)
 |-- NumberofAlarms: integer (nullable = true)
 |-- UnitType: string (nullable = true)
 |-- UnitSequenceInCallDispatch: integer (nullable = true)
 |-- Fire Prevention District: string (nullable = true)
 |-- SupervisorDistrict: string (nullable = true)
 |-- Neighborhooods - Analysis Boundaries: string (nullable = true)
 |-- RowID: string (nullable = true)
 |-- case_location: string (nullable = true)
 |-- Analysis Neighborhoods: integer (nullable = true)

## Cache Dataframe
It is a utility method, it store data in memory. Cached, because wanto to do ten analysys on same dataframe

In [14]:
transformed_df.cache()

DataFrame[CallNumber: int, UnitID: string, IncidentNumber: int, CallType: string, CallDate: date, WatchDate: date, ReceivedDtTm: string, EntryDtTm: string, DispatchDtTm: string, ResponseDtTm: string, OnSceneDtTm: string, TransportDtTm: string, HospitalDtTm: string, Call Final Disposition: string, AvailableDtTm: timestamp, Address: string, City: string, Zipcode of Incident: int, Battalion: string, Station Area: string, Box: string, OriginalPriority: string, Priority: string, FinalPriority: int, ALSUnit: boolean, CallTypeGroup: string, NumberofAlarms: int, UnitType: string, UnitSequenceInCallDispatch: int, Fire Prevention District: string, SupervisorDistrict: string, Neighborhooods - Analysis Boundaries: string, RowID: string, case_location: string, Analysis Neighborhoods: int]

## How many Distinct type of call were made to the Fire department

In [17]:
# This is two step process: convert DF to View, then execute SQL query
transformed_df.createOrReplaceTempView("fire_service_call_view")

In [19]:
sql = "Select count(Distinct CallType) as distinct_call_type_count from fire_service_call_view where CallType is not null"

sql_df = spark.sql(sql)
sql_df.show()

+------------------------+
|distinct_call_type_count|
+------------------------+
|                      33|
+------------------------+

In [20]:
df1 = transformed_df.where("CallType is not null").select("CallType").distinct().count()
df1

33

## What are the distinct type of call that made to  the Fire department

In [21]:
sql = "Select distinct CallType as distinct_call_type_count from fire_service_call_view where CallType is not null"

sql_df = spark.sql(sql)
sql_df.show(2)

+------------------------+
|distinct_call_type_count|
+------------------------+
|    Elevator / Escala...|
|             Marine Fire|
+------------------------+
only showing top 2 rows

In [22]:
df2 = transformed_df.where("CallType is not null").select(expr("CallType as distinct_call_type")).distinct()
df2.show(4)

+--------------------+
|  distinct_call_type|
+--------------------+
|Elevator / Escala...|
|         Marine Fire|
|  Aircraft Emergency|
|Confined Space / ...|
+--------------------+
only showing top 4 rows

In [34]:
# transformed_df.printSchema()

## What are the most coomon call type

In [27]:
# this count is transformation as it is used after the groupBY,
df3 = transformed_df.select("callType").where("callType is not null").groupBy("callType").count().orderBy("count",assending=False)
df3.show(3)

+--------------------+-----+
|            callType|count|
+--------------------+-----+
|Lightning Strike ...|   21|
|   Train / Rail Fire|  120|
|      Administrative|  330|
+--------------------+-----+
only showing top 3 rows