In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql import functions as sf

In [3]:
spark = SparkSession.builder.master("local[3]").appName("Vpropel").getOrCreate()

In [8]:
filepath = "../data/Bengaluru_House_Data*.csv"
data = spark.read.format("csv").option("header","true").option("inferSchema","true").option("path",filepath).load()

Row(area_type='Super built-up  Area', availability='19-Dec', location='Electronic City Phase II', size='2 BHK', society='Coomee ', total_sqft='1056', bath=2, balcony=1, price=39.07)

In [14]:
data.show(2)

+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
|           area_type| availability|            location|     size|society|total_sqft|bath|balcony|price|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
|Super built-up  Area|       19-Dec|Electronic City P...|    2 BHK|Coomee |      1056|   2|      1|39.07|
|          Plot  Area|Ready To Move|    Chikka Tirupathi|4 Bedroom|Theanmp|      2600|   5|      3|120.0|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
only showing top 2 rows

In [19]:
data.groupBy("area_type").count().orderBy("count",ascending=False).show()

+--------------------+-----+
|           area_type|count|
+--------------------+-----+
|Super built-up  Area| 8790|
|      Built-up  Area| 2418|
|          Plot  Area| 2025|
|        Carpet  Area|   87|
+--------------------+-----+

In [ ]:
dataframe.groupBy("area_type").agg(sf.sum(sf.column("bath") + sf.column("balcony")).alias("bhk")).orderBy("bhk",ascending=False).show()

In [24]:
data.groupBy("area_type").agg(sf.sum(sf.column("bath") + sf.column("balcony")).alias("sum"),
                              sf.avg(sf.column("bath").alias("bath2"))).show()

+--------------------+-----+------------------+
|           area_type|  sum|avg(bath AS bath2)|
+--------------------+-----+------------------+
|      Built-up  Area| 9376|2.6493775933609958|
|Super built-up  Area|34342|2.4303855394119664|
|          Plot  Area| 9378|3.8934793429566947|
|        Carpet  Area|  312|2.5057471264367814|
+--------------------+-----+------------------+

In [40]:
repartition_df.rdd.getNumPartitions() # Check partition

5

In [37]:
repartition_df1.rdd.getNumPartitions() # Check partition

NameError: name 'repartition_df1' is not defined

In [44]:
repartition_df = data.repartition(5) # it perform random and equal partition
repartition_df.rdd.getNumPartitions()

5

In [50]:
repartition_df2 = repartition_df.coalesce(2)

In [52]:
repartition_df2.rdd.getNumPartitions()

2

In [55]:
save_path = filepath = "../data/output/"

In [58]:
repartition_df2.write.format("csv").mode('overwrite').option("path",save_path).save()