In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import Window as W

In [2]:
spark = SparkSession.builder.appName('Go Through').getOrCreate()

In [43]:
dataset = [(10,'mango','2024-01-01',100),
(10,'orange','2024-01-02',120),
(11,'jeans','2024-01-03',200),
(11,'jeans','2024-01-03',250),
(11,'T-shirt','2024-01-04',200),
(12,'Banana','2024-01-04',50)]
data_schema = "id int, notes string,sales_date string,amount int"
dataframe = spark.createDataFrame(data = dataset, schema = data_schema)
dataframe.printSchema()

root
 |-- id: integer (nullable = true)
 |-- notes: string (nullable = true)
 |-- sales_date: string (nullable = true)
 |-- amount: integer (nullable = true)

In [44]:
dataframe.show(truncate = False)

+---+-------+----------+------+
|id |notes  |sales_date|amount|
+---+-------+----------+------+
|10 |mango  |2024-01-01|100   |
|10 |orange |2024-01-02|120   |
|11 |jeans  |2024-01-03|200   |
|11 |jeans  |2024-01-03|250   |
|11 |T-shirt|2024-01-04|200   |
|12 |Banana |2024-01-04|50    |
+---+-------+----------+------+

In [47]:
max_cn = F.max(F.col('amount')).over(W.partitionBy(F.col('id'),F.col('sales_date')))
dataframe.select('*').\
withColumn('max',max_cn).show()

+---+-------+----------+------+---+
| id|  notes|sales_date|amount|max|
+---+-------+----------+------+---+
| 10|  mango|2024-01-01|   100|100|
| 10| orange|2024-01-02|   120|120|
| 11|  jeans|2024-01-03|   200|250|
| 11|  jeans|2024-01-03|   250|250|
| 11|T-shirt|2024-01-04|   200|200|
| 12| Banana|2024-01-04|    50| 50|
+---+-------+----------+------+---+